<script type="module" src="https://unpkg.com/chessboard-element?module"></script>
<div 
  class="mx-auto container" 
  style="max-width: 300px;"
  data-controller='board'
  data-board-id=1
  >
  <chess-board
      data-target='board.board'
      <%= "draggable-pieces" if @draggable %> 
      position="<%= @fen%>"
      orientation="<%= orientation %>"
      move-speed="slow"
      snapback-speed="500"
      snap-speed="100"
  >
  </chess-board>
</div>
